body

{ background-image: url("assets\images\funky-lines.png");
    margin-bottom: 200px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


.clearFix::after {
    content: "";
    display: table;
    clear: both;

}

    #name {
    float: left;
    color: white;
    font-family:  "Georgia", Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 28px;
    padding: 26px 30px 30px 30px;
    margin-bottom: -20px;
    margin-left: 375px;
    text-decoration: non e;
    background-color: aqua
    }
       
#profile{
position: fixed;




 



}        


    

#about {
float: right;
text-align: right;



}

#portfolio
{
float: right;


}

#Contact
{
float: right;


}










